---
import PageLayout from '@/layouts/BaseLayout.astro'
import ToolSection from '@/components/ToolSection.astro'
import Button from '@/components/Button.astro'

const DEVELOPMENT = [
	{
		name: 'IntelliJ IDEA',
		description: 'IDE',
		href: 'https://www.jetbrains.com/idea/',
		iconPath: 'intellij-idea',
	},
	{
		name: 'Sublime Text',
		description: 'Text editor',
		href: 'https://www.sublimetext.com/',
		iconPath: 'sublimetext',
	}
]

const SYSTEM = [
	{
		name: 'Manjaro',
		description: 'Linux operating system',
		href: 'https://manjaro.org/',
		iconPath: 'manjaro',
	},
	{
		name: 'KDE',
		description: 'Desktop environment',
		href: 'https://kde.org/plasma-desktop/',
		iconPath: 'kde',
	},
	{
		name: 'Android',
		description: 'Mobile operating system',
		href: 'https://www.android.com/',
		iconPath: 'android',
	}
]

const PRODUCTIVITY = [
	{
		name: 'KeePassXC',
		description: 'Password Manager',
		href: 'https://keepassxc.org/',
		iconPath: 'keepass',
	},
	{
		name: 'Syncthing',
		description: 'File synchronization',
		href: 'https://syncthing.net/',
		iconPath: 'syncthing',
	},
]

const DESIGN = [
	{
		name: 'Figma',
		description: 'Design Tool',
		href: 'https://www.figma.com/',
		iconPath: 'figma',
	},
	{
		name: 'GIMP',
		description: 'Image editor',
		href: 'https://www.gimp.org/',
		iconPath: 'gimp',
	}
]

const OTHER = [
	{
		name: 'Firefox',
		description: 'Web browser',
		href: 'https://mozilla.org/firefox',
		iconPath: 'firefox',
	},
	{
		name: 'OsmAnd',
		description: 'Map and navigation app',
		href: 'https://osmand.net/',
		iconPath: 'osmand',
	},
]
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='w-full'>
		<Button title='Back' href='/' style='button'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-before'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
				>
				</path>
			</svg>
		</Button>

		<div class='mt-5 flex w-full flex-col gap-y-10'>
			<div>
				<h1 class='mb-1 text-2xl font-bold'>Tools</h1>
				<p>Software that I like and use</p>
			</div>

			<ToolSection title='Development' tools={DEVELOPMENT} />
			<ToolSection title='System' tools={SYSTEM} />
			<ToolSection title='Productivity' tools={PRODUCTIVITY} />
			<ToolSection title='Design' tools={DESIGN} />
			<ToolSection title='Other' tools={OTHER} />
		</div>
	</div>
</PageLayout>
